@red: #e64759;
@green: #1bc98e;
@blue: #1997c6;
@white: #cfd2da;
@dark-gray: #252830;
@light-gray: #434857;

body {
    color: @white;
    background-color: @dark-gray;
}

.container {
    max-width: 1024px;
}

.header {
    margin-bottom: 10px;

    .btn {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: transparent;
        border-color: @light-gray;

        .wi-cloud-up {
            color: @green;
        }

        .wi-cloud-down {
            color: @red;
        }
    }
}

h2 {
    clear: both;
    border-bottom: .05rem solid @light-gray;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-block {
    border-color: @light-gray;
    background-color: transparent;

    .wi {
        color: @blue;
        font-size: 4rem;
    }

    @media (min-width: 1024px) {
        .wi {
            font-size: 6rem;
        }
    }
}

.btn {
    color: @white;
    background-color: @light-gray;
}

.btn-primary {
    color: @blue;
    border-color: @blue;
    background-color: transparent;
}

graph#vmc {
    stroke: @blue;
    fill: url(#degrade);

    stop {
        stop-opacity: 1;

        &.first {
            stop-color: @blue;
        }

        &.second {
            stop-color: @light-gray;
        }
    }

    &.forced {
        fill: @red;
    }
}
