@red: #e64759;
@green: #1bc98e;
@blue: #1997c6;
@white: #cfd2da;
@dark-gray: #252830;
@light-gray: #434857;

body {
    color: @white;
    background-color: @dark-gray;
}

.container {
    max-width: 1024px;
}

.header {
    margin-bottom: 10px;

    .btn {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: transparent;
        border-color: @light-gray;

        .wi-cloud-up {
            color: @green;
        }

        .wi-cloud-down {
            color: @red;
        }
    }
}

h2 {
    clear: both;
    border-bottom: .05rem solid @light-gray;
    margin-top: 30px;
    margin-bottom: 20px;
}

.table-inverse {
    background-color: transparent;
}

.card-block {
    background-color: transparent;
    height: 150px;

    .wi {
        color: @blue;
        font-size: 4rem;
    }

    @media (min-width: 1024px) {
        .wi {
            font-size: 6rem;
        }
    }
}

.table-inverse td, .card-block {
    border-color: @red;
    transition: border-color 90s cubic-bezier(.7, 0, 1, 0);

    &.highlight {
        border-color: @light-gray;

        transition: border-color 0s;
    }
}

#vmc .table-inverse td, #vmc .card-block {
}

.btn {
    color: @white;
    background-color: @light-gray;
}

.btn-primary {
    color: @blue;
    border-color: @blue;
    background-color: transparent;
}

graph {
    stroke: @blue;

    #vmc {
        fill: url(#vmc-degrade);
    }

    stop {
        stop-opacity: 1;

        &.first {
            stop-color: @blue;
        }

        &.second {
            stop-color: @light-gray;
        }
    }

    &.forced {
        fill: @red;
    }
}

.highlight(@duration) {
    .table-inverse td, .card-block {
        border-color: @red;
        transition: border-color @duration cubic-bezier(.7, 0, 1, 0);

        &.highlight {
            border-color: @light-gray;

            transition: border-color 0s;
        }
    }
}

#vmc {
    .highlight(129600s);
}

#weather {
    .highlight(90s);
}

#sensors {
    .highlight(90s);
}

#network {
    .highlight(450s);
}
