<div class="header clearfix">
    <div class="btn-group center-block">
        <a class="btn btn-secondary">
            <i ng-class="{'wi-cloud-up': connected, 'wi-cloud-down': !connected}" class="wi"></i>
        </a>
        <a ng-click="scroll('vmc')" class="btn btn-secondary">VMC</a>
        <a ng-click="scroll('weather')" class="btn btn-secondary">Météo</a>
    </div>
</div>

<h2 name="vmc"><i class="wi wi-strong-wind"></i> VMC</h2>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="btn-toolbar" role="toolbar">
            <div ng-repeat="state in ['off', 'pulse1', 'pulse2']" class="btn-group" role="group">
                <button ng-click="vmc.update(state)" class="btn btn-primary" type="button">{{ state }}</button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card card-block">
        <graph id="vmc" min="0" max="2" current="vmc.speed" ng-class="{'forced': vmc.forced}"></graph>
    </div>
</div>

<h2 name="weather"><i class="wi wi-umbrella"></i> Météo</h2>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="col-xs-6">
            {{ weather.temperature_indoor }}°C
            <i class="wi wi-thermometer"></i>
            {{ weather.temperature_outdoor }}°C
        </div>
        <div class="col-xs-6">
            {{ weather.humidity_indoor }} %
            <i class="wi wi-humidity"></i>
            {{ weather.humidity_outdoor }} %
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="col-xs-6">
            <i class="wi wi-day-{{ weather.forecast }}"></i>
        </div>
        <div class="col-xs-6">
            <i ng-if="weather.tendency == 'Rising'" class="wi wi-direction-up-right"></i>
            <i ng-if="weather.tendency == 'Steady'" class="wi">=</i>
            <i ng-if="weather.tendency == 'Falling'" class="wi wi-direction-down-right"></i>
        </div>
    </div>
</div>
