<div class="header clearfix">
    <div class="btn-group center-block">
        <a class="btn btn-secondary">
            <i ng-class="{connected: connected, disconnected: !connected}" class="fa fa-wifi"></i>
        </a>
        <a ng-click="scroll('vmc')" class="btn btn-secondary">VMC</a>
        <a ng-click="scroll('weather')" class="btn btn-secondary">Météo</a>
    </div>
</div>

<h2 name="vmc"><i class="fa fa-feed"></i> VMC</h2>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="btn-toolbar" role="toolbar">
            <div ng-repeat="state in ['off', 'pulse1', 'pulse2']" class="btn-group" role="group">
                <button ng-click="vmc.update(state)" class="btn btn-primary" type="button">{{ state }}</button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card card-block">
        <svg id="vmc" width="200" height="100" ng-class="{'forced': vmc.forced}">
            <defs>
                <linearGradient id="degrade" x1="0" y1="0" spreadMethod="pad">
                    <stop offset="0%" class="first"/>
                    <stop offset="{{ vmc.speed / 2 * 100 }}%" class="first"/>
                    <stop offset="{{ vmc.speed / 2 * 100 }}%" class="second"/>
                </linearGradient>
            </defs>

            <path d="M 0,100 A 40 40 180 0 1 200,100
                L170,100 A 40 40 180 0 0 30,100
                Z"
            />
        </svg>
    </div>
</div>

<h2 name="weather"><i class="fa fa-sun-o"></i> Météo</h2>

<div class="col-sm-6">
    <div class="card card-block">
        <div>Temperature intérieure : {{ weather.temperature_indoor }}°C</div>
        <div>Temperature extérieure : {{ weather.temperature_outdoor }}°C</div>
        <div>Humidité intérieure : {{ weather.humidity_indoor }} %</div>
        <div>Humidité extérieure : {{ weather.humidity_outdoor }} %</div>
    </div>
</div>
