<h2 name="weather"><i class="wi wi-umbrella"></i> Météo</h2>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="col-xs-6">
            {{ weather.temperature_indoor }}°C
            <i class="wi wi-thermometer"></i>
            {{ weather.temperature_outdoor }}°C
        </div>
        <div class="col-xs-6">
            {{ weather.humidity_indoor }} %
            <i class="wi wi-humidity"></i>
            {{ weather.humidity_outdoor }} %
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="col-xs-6">
            <i ng-if="weather.forecast == 'Rainy'" class="wi wi-day-rain"></i>
            <i ng-if="weather.forecast == 'Sunny'" class="wi wi-day-sunny"></i>
            <i ng-if="weather.forecast == 'Cloudy'" class="wi wi-day-cloudy"></i>
        </div>
        <div class="col-xs-6">
            <i ng-if="weather.tendency == 'Rising'" class="wi wi-direction-up-right"></i>
            <i ng-if="weather.tendency == 'Steady'" class="wi">=</i>
            <i ng-if="weather.tendency == 'Falling'" class="wi wi-direction-down-right"></i>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="card card-block">
        <div class="col-xs-6">
            <i class="wi wi-wind wi-towards-{{ weather.directions.toLowerCase() }}"></i>
        </div>
        <div class="col-xs-6">
            <i class="wi wi-wind-beaufort-{{ beaufort }}"></i>
        </div>
    </div>
</div>
