<svg width="200" height="100">
    <defs>
        <linearGradient id="degrade" x1="0" y1="0" spreadMethod="pad">
            <stop offset="0%" class="first"/>
            <stop offset="{{ ($ctrl.current - $ctrl.min) / $ctrl.max * 100 }}%" class="first"/>
            <stop offset="{{ ($ctrl.current - $ctrl.min) / $ctrl.max * 100 }}%" class="second"/>
        </linearGradient>
    </defs>

    <path d="M 0,100 A 40 40 180 0 1 200,100
        L170,100 A 40 40 180 0 0 30,100
        Z"
    />
</svg>
